<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-01 11:09:59
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-08-06 20:03:52
-->
<%- include('/commom/header',{
  title:settingList?settingList[0].title:"海南昆仑体育文化股份有限公司",
  Keywords:settingList?settingList[0].keywords:"海南昆仑体育文化股份有限公司",
  companyDescription:settingList?settingList[0].companyDescription:"海南昆仑体育文化股份有限公司",
}) %>

<%- include('/commom/indexBanner') %>

<div class="content-full">
  <div class="content-full row1">
    <div class="row1-bg"></div>
    <div class="content row1-main">
      <div class="col-lg-6 row1-left">
        <div class="row-title">
          <div class="title-link"></div>
          <h5>关于我们</h5>
        </div>
        <h3 class="row-h3">大海之南•昆仑为巅</h3>
        <p class="row-p">
          海南昆仑体育文化股份有限公司成立于2015年，注册资本1亿人民币。公司以学校为基础，积极整合场地、设备、人力等优质资源，搭建与市场对接的常态机制。对外开展业务涉及：大型文艺体育活动及演出、国际文化合作与交流、影视制作投资、品牌策划推广、旅游会议会展、管理咨询、体育赛事服务管理和拓展培训等。
        </p>
        <a href="/about?pid=0&cid=2" class="row-btn">查看详情</a>
      </div>
      <div class="col-lg-6 row1-right">
        <img src="/public/images/about.png" alt="" class="about-img">
      </div>
    </div>
  </div>
  <div class="content-full row2">
    <div class="col-lg-2 row2-left">
      <div class="row-title">
        <div class="title-link"></div>
        <h5>服务领域</h5>
      </div>
      <div class="ser-nav">
        <ul>
          <li>
            <a href="service.html">体育赛事</a>
          </li>
          <li>
            <a href="service.html">文化服务</a>
          </li>
          <li>
            <a href="service.html">电竞教育</a>
          </li>
          <li>
            <a href="service.html">体验式培训</a>
          </li>
          <li>
            <a href="service.html">会议会展</a>
          </li>
        </ul>
      </div>

      <div class="banner-button row2-button">
        <div class="swiper-button-next swiper-button-next3"></div>
        <span class="banner-button-link">|</span>
        <div class="swiper-button-prev swiper-button-prev3"></div>
      </div>
    </div>
    <div class="row2-right">
      <div class="swiper-container row2-swiper">
        <div class="swiper-wrapper row2-wrapper">
          <div class="swiper-slide">
            <div class="row2-txt">
              <h5>体育赛事</h5>
              <p>经过长期以来的业务发展和积累，公司汇集来自体育、传媒、广告、会展行业的精英人士。国内一流媒体平台达成了战略合作关系。</p>
              <a href="" class="row2-btn"><img src="/public/images/more_icon.png" alt=""></a>
            </div>
            <div class="row2-border"></div>
            <img src="/public/images/ser1.png" alt="" class="row2-img">
          </div>
          <div class="swiper-slide">
            <div class="row2-txt">
              <h5>文化服务</h5>
              <p>经过长期以来的业务发展和积累，公司汇集来自体育、传媒、广告、会展行业的精英人士。国内一流媒体平台达成了战略合作关系。</p>
              <a href="" class="row2-btn"><img src="/public/images/more_icon.png" alt=""></a>
            </div>
            <div class="row2-border"></div>
            <img src="/public/images/ser2.png" alt="" class="row2-img">
          </div>
          <div class="swiper-slide">
            <div class="row2-txt">
              <h5>电竞教育</h5>
              <p>经过长期以来的业务发展和积累，公司汇集来自体育、传媒、广告、会展行业的精英人士。国内一流媒体平台达成了战略合作关系。</p>
              <a href="" class="row2-btn"><img src="/public/images/more_icon.png" alt=""></a>
            </div>
            <div class="row2-border"></div>
            <img src="/public/images/ser3.png" alt="" class="row2-img">
          </div>
          <div class="swiper-slide">
            <div class="row2-txt">
              <h5>体验式培训</h5>
              <p>经过长期以来的业务发展和积累，公司汇集来自体育、传媒、广告、会展行业的精英人士。国内一流媒体平台达成了战略合作关系。</p>
              <a href="" class="row2-btn"><img src="/public/images/more_icon.png" alt=""></a>
            </div>
            <div class="row2-border"></div>
            <img src="/public/images/ser4.png" alt="" class="row2-img">
          </div>
          <div class="swiper-slide">
            <div class="row2-txt">
              <h5>会议会展</h5>
              <p>经过长期以来的业务发展和积累，公司汇集来自体育、传媒、广告、会展行业的精英人士。国内一流媒体平台达成了战略合作关系。</p>
              <a href="" class="row2-btn"><img src="/public/images/more_icon.png" alt=""></a>
            </div>
            <div class="row2-border"></div>
            <img src="/public/images/ser1.png" alt="" class="row2-img">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-full row3">
    <div class="content">
      <div class="row-top">
        <div class="row-title">
          <div class="title-link"></div>
          <h5>新闻中心</h5>
        </div>
        <a href="news.html" class="more-btn">查看更多<img src="/public/images/more_icon2.png" alt=""></a>
      </div>
      <div class="row3-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide row3-slide">
            <a href="news_info.html">
              <div class="row3-img">
                <span class="news-tab">企业新闻</span>
                <img src="/public/images/news1.png" alt="">
              </div>
              <div class="row3-txt">
                <h5>近千名越野爱好者挑战“中国版卢比肯路” “岩路·灵鹫山国际森林汽车穿越大赛”今日开幕！</h5>
                <p>碧海连天远，琼崖尽是春。提起海南人们往往想到度假天堂，旅游成为海南的标签。</p>
                <div class="row3-data">
                  <p>2020/05/14</p>
                  <img src="/public/images/news_icon.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide row3-slide">
            <a href="news_info.html">
              <div class="row3-img">
                <span class="news-tab">企业新闻</span>
                <img src="/public/images/news2.png" alt="">
              </div>
              <div class="row3-txt">
                <h5>近千名越野爱好者挑战“中国版卢比肯路” “岩路·灵鹫山国际森林汽车穿越大赛”今日开幕！</h5>
                <p>碧海连天远，琼崖尽是春。提起海南人们往往想到度假天堂，旅游成为海南的标签。</p>
                <div class="row3-data">
                  <p>2020/05/14</p>
                  <img src="/public/images/news_icon.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide row3-slide">
            <a href="news_info.html">
              <div class="row3-img">
                <span class="news-tab">企业新闻</span>
                <img src="/public/images/news3.png" alt="">
              </div>
              <div class="row3-txt">
                <h5>近千名越野爱好者挑战“中国版卢比肯路” “岩路·灵鹫山国际森林汽车穿越大赛”今日开幕！</h5>
                <p>碧海连天远，琼崖尽是春。提起海南人们往往想到度假天堂，旅游成为海南的标签。</p>
                <div class="row3-data">
                  <p>2020/05/14</p>
                  <img src="/public/images/news_icon.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide row3-slide">
            <a href="news_info.html">
              <div class="row3-img">
                <span class="news-tab">企业新闻</span>
                <img src="/public/images/news4.png" alt="">
              </div>
              <div class="row3-txt">
                <h5>近千名越野爱好者挑战“中国版卢比肯路” “岩路·灵鹫山国际森林汽车穿越大赛”今日开幕！</h5>
                <p>碧海连天远，琼崖尽是春。提起海南人们往往想到度假天堂，旅游成为海南的标签。</p>
                <div class="row3-data">
                  <p>2020/05/14</p>
                  <img src="/public/images/news_icon.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <div class="swiper-slide row3-slide">
            <a href="news_info.html">
              <div class="row3-img">
                <span class="news-tab">企业新闻</span>
                <img src="/public/images/news1.png" alt="">
              </div>
              <div class="row3-txt">
                <h5>近千名越野爱好者挑战“中国版卢比肯路” “岩路·灵鹫山国际森林汽车穿越大赛”今日开幕！</h5>
                <p>碧海连天远，琼崖尽是春。提起海南人们往往想到度假天堂，旅游成为海南的标签。</p>
                <div class="row3-data">
                  <p>2020/05/14</p>
                  <img src="/public/images/news_icon.png" alt="">
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-button row3-button">
      <div class="swiper-button-next swiper-button-next4"></div>
      <span class="banner-button-link">|</span>
      <div class="swiper-button-prev swiper-button-prev4"></div>
    </div>
  </div>
  <div class="content-full row4">
    <div class="content row-top">
      <div class="row-title">
        <div class="title-link"></div>
        <h5>服务案例</h5>
      </div>
      <a href="case.html" class="more-btn">查看更多<img src="/public/images/more_icon3.png" alt=""></a>
    </div>

    <div class="row4-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide row4-slide">
          <a href="case_info.html">
            <img src="/public/images/case1.png" alt="" class="row4-img">
            <div class="row4-txt">
              <h5>助力全民健身，广东省“百馆计划”项目正式启动</h5>
              <p>2020/05/14</p>
            </div>
            <div class="row4-mask"></div>
          </a>
        </div>
        <div class="swiper-slide row4-slide">
          <a href="case_info.html">
            <img src="/public/images/case2.png" alt="" class="row4-img">
            <div class="row4-txt">
              <h5>助力全民健身，广东省“百馆计划”项目正式启动</h5>
              <p>2020/05/14</p>
            </div>
            <div class="row4-mask"></div>
          </a>
        </div>
        <div class="swiper-slide row4-slide">
          <a href="case_info.html">
            <img src="/public/images/case3.png" alt="" class="row4-img">
            <div class="row4-txt">
              <h5>助力全民健身，广东省“百馆计划”项目正式启动</h5>
              <p>2020/05/14</p>
            </div>
            <div class="row4-mask"></div>
          </a>
        </div>
        <div class="swiper-slide row4-slide">
          <a href="case_info.html">
            <img src="/public/images/case2.png" alt="" class="row4-img">
            <div class="row4-txt">
              <h5>助力全民健身，广东省“百馆计划”项目正式启动</h5>
              <p>2020/05/14</p>
            </div>
            <div class="row4-mask"></div>
          </a>
        </div>
        <div class="swiper-slide row4-slide">
          <a href="case_info.html">
            <img src="/public/images/case1.png" alt="" class="row4-img">
            <div class="row4-txt">
              <h5>助力全民健身，广东省“百馆计划”项目正式启动</h5>
              <p>2020/05/14</p>
            </div>
            <div class="row4-mask"></div>
          </a>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination swiper4-pagination"></div>
    </div>
  </div>
  <div class="content-full row5">
    <div class="content">
      <div class="row-top">
        <div class="row-title">
          <div class="title-link"></div>
          <h5>合作伙伴</h5>
        </div>
        <a href="case2.html" class="more-btn">查看更多<img src="/public/images/more_icon2.png" alt=""></a>
      </div>
      <h3 class="row5-title">公司汇集来自体育、传媒、广告、<br>会展行业的精英人士</h3>
      <p class="row5-txt">与中视体育娱乐有限公司、爱奇艺、中广天择传媒股份有限公司等国内一流媒体平台达成了战略合作关系</p>
      <div class="row5-list">
        <ul>
          <li>
            <a href="javascript:;">
              <img src="/public/images/coop.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/public/images/coop2.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/public/images/coop3.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/public/images/coop4.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/public/images/coop5.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/public/images/coop6.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/public/images/coop7.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/public/images/coop.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/public/images/coop2.png" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="/public/images/coop3.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-full row6">
    <a href="javascript:;" class="video-btn" data-toggle="modal" data-target="#videos">
      <img src="/public/images/play_icon.png" alt="">
    </a>
    <img src="/public/images/video_bg.png" alt="" class="video-img">
    <div class="modal fade" id="videos" tabindex="-1" role="dialog" aria-labelledby="myVideos">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myVideos">公司宣传视频</h4>
          </div>
          <div class="modal-body">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-full row7">
    <div class="content">
      <div class="row-top">
        <div class="row-title">
          <div class="title-link"></div>
          <h5>联系我们</h5>
        </div>
        <a href="case2.html" class="more-btn">查看更多<img src="/public/images/more_icon2.png" alt=""></a>
      </div>
      <div class="row7-main">
        <div class="row7-left">
          <div class="cont-top">
            <div class="row7-icon">
              <a href="contact2.html" class="cont-icon"><img src="/public/images/mes_icon.png" alt=""></a>
              <a href="javascript:;" class="cont-icon cont-hover">
                <img src="/public/images/weibo_icon.png" alt="">
                <img src="/public/images/qrcode2.png" alt="" class="qrcode-img">
              </a>
              <a href="javascript:;" class="cont-icon cont-hover">
                <img src="/public/images/wechat_icon.png" alt="">
                <img src="/public/images/qrcode.png" alt="" class="qrcode-img">
              </a>
              <a href="javascript:;" class="cont-icon"><img src="/public/images/qq_icon.png" alt=""></a>
            </div>
            <h5 class="row7-h5">海南昆仑体育文化股份有限公司</h5>
          </div>
          <div class="cont-bottom row">
            <div class="col-lg-6">
              <h4>联系方式</h4>
              <p>0898-65771519</p>
              <p>hnkunlun@vip.163.com</p>
            </div>
            <div class="col-lg-6">
              <h4>详细地址</h4>
              <p>海南省海口市桂林洋高校区海口经济学院昆仑体育文化大厦</p>
            </div>
          </div>
        </div>
        <div class="row7-right">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('/commom/footer') %>