<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-17 15:27:44
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-07-22 20:19:00
--> 
<% data.advertisingList.forEach((item,index)=>{ %>
  <% if(item.place === 2 && item.parentId == ctx.query.pid){ %>
    <div class="banner-info" style="background: url('<%= item.filepath %>') no-repeat center;" data-paroller-factor="0.5"></div>
  <% } %>
<% }) %>