<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-17 15:27:44
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-07-17 17:13:46
--> 
<div class="banner-info" style="background: url('/public/images/banner_info.png') no-repeat center;" data-paroller-factor="0.5"></div>
