<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-17 11:20:24
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-10-19 10:50:03
-->
<div class="nav-left">
  <div class="row-title">
    <div class="title-link"></div>
    <% const pid = ctx.params.pid %>
    <% menuList.forEach(item =>{ %>
      <% if(item.id == pid){ %>
        <h5><%= item.title %></h5>
        <% if(item.children){ %>
          <div class="nav-left-list">
            <ul>
              <% item.children.forEach(children=>{ %>
                <li>
                  <a href="<%= '/'+children.url+'/pid/'+[pid]+'/cid/'+children.id %>" class="<%= pid === ctx.params.pid && children.id == ctx.params.cid ? 'active' : '' %>"><%= children.title %></a>
                </li>
              <% }) %>
            </ul>
          </div>
        <% } %>
      <%  } %>
    <% }) %>
  </div>
</div>