<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-17 15:37:58
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-11-05 16:35:44
-->
<div class="content-full ser-info">
  <div class="swiper-wrapper">
    <% servicesList.forEach((item,index) => { %>
      <div class="swiper-slide">
        <a href="/services/pid/7/cid/<%= item.category_id %>">
          <img src="" alt="" class="ser-info-img" data-src="<%= item.image %>">
          <div class="ser-info-txt">
            <h5><%= menuList[1].children[index].title %></h5>
            <p><%= item.description %></p>
          </div>
        </a>
      </div>
    <% }) %>
  </div>
</div>